<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS AXIOS</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
</head>

<body>
  <div id="app">
    <h1>{{ name }}</h1>
    <ol>
      <li v-for="nameList in nameLists" :key="nameList.id">
        {{ nameList.name }}
      </li>
    </ol>
    <input v-model="name" @keyup.enter="addData" type="text" />
    <button @click="addData">Add to Data</button>
  </div>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          name: 'Phantom',
          nameLists: []
        }
      },
      methods: {
        addData() {
          axios.post('http://localhost:3000/nameLists', {
            name: this.name
          }).then((res) => {
            this.name = '';
            this.nameLists.push(res.data);
          })
        }
      },
      mounted() {
        axios.get('http://localhost:3000/nameLists')
          .then((res) => {
            console.log(res.data);
            this.nameLists = res.data;
          })
      }
    });
  </script>
</body>

</html>